.register__header{
    @include text($c-text, 24px, $fw-bold);
    text-align: center;

}
.register__apps{
    .btn-facebook{
        background-color: #4267b2;
        border: 1px solid #4267b2;
        width: 100%;
        @include text($c-white, $fs-base, $fw-bold);
        &:hover{
            opacity: 0.9;
        }
        i{
            margin-right: 20px;
        }
    }
    .btn-google{
        background-color: $c-white;
        border: 1px solid #e4e5e7;
        @include text(#62646a, $fs-base, $fw-bold);
        width: 100%;
        margin-top: 10px;
        &:hover{
            background-color: #fafafa;
        }
        i{
            margin-right: 20px;
        }
    }
    
}
.register__separator{
    height: 12px;
    margin: 20px 0 32px;
    text-align: center;
    border-bottom: 1px solid #e4e5e7;
    span{
        @include text(#62646a, $fs-xs, $fw-bold);
        line-height: 24px;
        padding: 0 8px;
        background-color: $c-white;
    }
} 


.register__form{
    .ant-form-item{
        .ant-form-item-label{
            .ant-form-item-required{
                @include text(#62646a, $fs-base, $fw-regular );
            }
        }
    }
}

.register__agree{
    @include text($c-primary, $fs-base, $fw-semibold);
    cursor: default;
    &:hover{
        color: $c-primary
    }

}
button.ant-btn.ant-btn-default.register__btn{
    @include text($c-white, $fs-md, $fw-bold);
    background-color: $c-primary;
    border: none;
    width: 60%;
    height:100%;
    &:hover{
        background-color: #19a463;
    }
}
.ant-modal-close-x{
    display: none !important;
}
.register__text{
    @include text($c-text, $fs-base, $fw-regular)
}
.register__register{
    @include text($c-primary, $fs-base, $fw-semibold);
    margin-left: 10px;
}
.register__separator2{
    height: 12px;
    margin: 20px 0 32px -160px;
    text-align: center;
    border-bottom: 1px solid #e4e5e7;
} 