.typejobspage {
  .main-content {
    padding: 20px 0px;
    h2 {
      margin: auto;
      max-width: fit-content;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .content-items {
      padding: 0 90px;
      display: flex;
      justify-content: space-around;
      .content-left {
        margin: 0;
        padding-right: 50px;
        li {
          white-space: nowrap;
          color: #7a7d85;
          font-weight: 400;
          font-size: 16px;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .content-right {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        gap: 15px;
        .content-main {
          img {
            border-radius: 5px;
            width: 300px;
            height: 200px;
            &:hover {
              opacity: 0.7;
              transition: all 0.3s;
            }
          }
          p {
            padding: 10px 0;
            color: rgba(0, 0, 0, 0.9);
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .typejobspage {
    .main-content {
      .content-items {
        .content-left {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .typejobspage {
    .main-content {
      .content-items {
        .content-left {
          display: none;
        }
        .content-right {
          max-width: none;
          grid-template-columns: repeat(2, 1fr);
          img {
            width: 270px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .typejobspage {
    .main-content {
      .content-items {
        .content-right {
          max-width: none;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
